/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* mix */
.container, .main-title-box{
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.second-nav, nav{
  line-height: 30px;
  padding: 20px 0;
}
/* /mix */
/* btn */
.btn{
  padding: 10px 10px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: #fff;
}
.btn-title{
  padding: 20px 30px;
  display: inline-block;
}
#btn-support{
  display: inline-block;
  background-color: #cbd6e2;
  border: none;
  margin: 5px 0;
}
/* /btn */
/* typo */
body{
  font-family: 'Montserrat', sans-serif;
}
h1, a, p, h2, h3, h5, li, .top-numbers h6, #btn-support{
  color: #33475b;
}
h1{
  font-size: 50px;
}
a{
  text-decoration: none;
}
p{
  font-size: 15px;
  line-height: 26px;
}
h6{
  font-size: 35px;
  font-weight: 700;
}
.row-box h6::after{
  content: '+';
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 3px;
}
.jumbotron p:last-child, .bottom-start_today p:last-child, .footer-col a, .footer-bottom-language li a, .footer-bottom-policy li a{
  font-size: 13px;
}
.main-title-box h2, .main-numbers h3{
  font-size: 35px;
}
.col-text h5{
  font-size: 20px;
  margin-bottom: 20px;
}
.main-product h3{
  font-size: 28px;
}
.col-img h5{
  font-size: 20px;
  margin-top: 30px;
}
.main-numbers-title h3, .main-numbers-title p, .row-box p, .footer-bottom-logo span{
  color: #fff;
}
.top-numbers h6{
  font-size: 42px;
  margin-bottom: 30px;
}
.top-numbers p span{
  font-weight: 600;
}
/* /typo */

/* intestazione */
/* second-nav */
.second-nav{
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}
.second-nav li, .main-nav li, .col-text li, .col-text li i{
  display: inline-block;
  vertical-align: middle;
}
.language li:first-child a{
  padding-right: 12px;
  border-right: 2px solid grey;
}
.language li:last-child a{
  margin-left: 15px;
}
.access-point li, .main-nav li{
  margin-left: 25px;
}
.access-point li i{
  color: #3fbacd;
}
#log-in{
  border: 1px solid #ff7a59;
  background-color: #fff;
  color: #ff7a59;
}
/* /second-nav */
/* main-nav */
.main-nav li a i{
  margin-left: 10px;
}
/* main-nav */
/* jumbotron */
.jumbotron{
  position: relative;
}
.jumbotron-title{
  position: absolute;
  left: 10%;
  top: 10%;
  width: 40%;
  padding-right: 38px;
}
.jumbotron img{
  width: 100%;
}
.img-bottom{
  height: 13%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #afebe4;
}
.jumbotron-title p{
  margin: 35px 0;
}
/* /jumbotron */
/* /intestazione */

/* main */
main{
  background-color: #f5f8fa;
}
/* main title */
.main-title-box, .col-img, .main-numbers, .footer-bottom-language{
  text-align: center;
}
.main-title-box img{
  margin-top: 50px;
  height: 200px;
}
.main-title-box p, .col-text p{
  margin: 30px 0;
}
/* /main title */
/* main-product */
.col{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #000000;
  padding: 20px 25px;
}
.big-col{
  width: 100%;
  padding: 50px 0;
  margin: 50px 0;
}
.col-img{
  width: 30%;
  margin-right: 5%;
}
.col-img img{
  height: 100px;
  width: 100%;
  margin: 15px 0;
}
.col-text{
  width: 67.5%;
}
.col-text h5, .col-text hr{
  display: inline-block;
}
.col-text hr {
  width: 60%;
  vertical-align: middle;
  margin-left: 100px;
  border: 1px solid #33475b;
}
.col-text li{
  margin-right: 20px;
}
.col-text li i, .col-img li i{
  color: #ff7a59;
  margin-right: 15px;
}
.main-product .col-img:last-child, .main-product .col-img:first-child{
  margin: 0;
}
.col-img p{
  margin: 30px 0 70px 0;
}
.col-img ul{
  text-align: left;
  margin: 30px 0 50px 0;
}
.col-img li{
  list-style: none;
}
/* /main-product */

/* main-numbers */
/* main-numbers-title */
.main-numbers{
  margin-top: 50px;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
}
.main-numbers-title h3{
  margin: 30px 40px;
  display: inline-block;
}
.main-numbers-title p{
  margin-bottom: 20px;
}
/* /main-numbers-title */
/* main-numbers-table */
.main-numbers-table{
  padding: 30px 0 60px 0;
}
.row{
  border-bottom: 1px solid #fff;
}
.main-numbers-table .row:last-child{
  border-bottom: none;
}
.row-box{
  border-right: 1px solid #fff;
  color: #fff;
  width: 25%;
  padding: 15px 0 20px 0;
}
.row-box img{
  height: 24px;
}
.row-box h6 {
  margin: 10px 0;
}
.row .row-box:last-child{
  border-right: none;
}
/* main-numbers-table */
/* /main-numbers */

/* main-affiliations */
.main-affiliations{
  background-color: #fff;
}
.main-affiliations-box-top{
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.top-numbers{
  width: 35%;
  padding-right: 10%;
}
.top-logo, .bottom-img{
  width: 65%;
  text-align: right;
}
.top-logo ul{
  margin-bottom: 15px;
}
.top-logo li {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.top-logo li img{
  width: 90%;
  cursor: pointer;
}
.bottom-start_today{
  width: 35%;
}
.bottom-start_today h3{
  font-size: 30px;
}
.bottom-start_today h3, .bottom-start_today p, .bottom-start_today a{
  margin-bottom: 30px;
}
.bottom-img img{
  height: 300px;
}
/* /main-affiliations */
/* /main */

/* footer */
/* footer-top */
footer{
  background-color: #2d3e50;
  padding: 30px 0;
}
.footer-col {
  width: 25%;
}
.footer-col li {
  margin-bottom: 10px;
  list-style: none;
}
.footer-col li a, .footer-bottom-language li a, .footer-bottom-policy li a{
  color: #cbd6e2;
}
.footer-col li:first-child a{
  color: #fff;
  margin-bottom: 13px;
  font-weight: 600;
}
.footer-col:last-child li:last-child a{
  margin-right: 5%;
}
/* /footer-top */
/* footer-bottom */
.footer-bottom-language{
  border-bottom: 1px solid #cbd6e2;
  margin-top: 30px;
  padding: 20px 0;
}
.footer-bottom-language li, .footer-bottom-policy li {
  display: inline-block;
  margin-left: 20px;
}
.footer-bottom-copyright{
  padding-top: 30px;
}
.footer-bottom-logo, .footer-bottom-policy{
  width: 20%;
}
.footer-bottom-logo img{
  width: 30%;
  display: block;
  margin-bottom: 5px;
}
.footer-bottom-policy ul{
  text-align: right;
}
/* /footer-bottom */
/* /footer */
