/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* mix */
.container{
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.second-nav, nav{
  line-height: 30px;
  padding: 20px 0;
}
/* /mix */
/* btn */
.btn{
  padding: 10px 10px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: #fff;
}
.btn-title{
  padding: 20px 30px;
  display: inline-block;
}
/* /btn */
/* typo */
body{
  font-family: 'Montserrat', sans-serif;
}
h1, a, p, h2, h3, h5{
  color: #33475b;
}
h1{
  font-size: 50px;
}
a{
  text-decoration: none;
}
p{
  font-size: 16px;
  line-height: 26px;
}
/* /typo */

/* intestazione */
/* second-nav */
.second-nav{
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}
.second-nav li, .main-nav li{
  display: inline-block;
  vertical-align: middle;
}
.language li:first-child a{
  padding-right: 12px;
  border-right: 2px solid grey;
}
.language li:last-child a{
  margin-left: 15px;
}
.access-point li, .main-nav li{
  margin-left: 25px;
}
.access-point li i{
  color: #3fbacd;
}
#log-in{
  border: 1px solid #ff7a59;
  background-color: #fff;
  color: #ff7a59;
}
/* /second-nav */
/* main-nav */
.main-nav li a i{
  margin-left: 10px;
}
/* main-nav */
/* jumbotron */
.jumbotron{
  position: relative;
}
.jumbotron-title{
  position: absolute;
  left: 10%;
  top: 10%;
  width: 40%;
  padding-right: 38px;
}
.jumbotron img{
  width: 100%;
}
.img-bottom{
  height: 13%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #afebe4;
}
.jumbotron-title p{
  margin: 35px 0;
}
.jumbotron p:last-child{
  font-size: 14px;
}
/* /jumbotron */
/* /intestazione */

/* main */
main{
  background-color: #f5f8fa;
}
.main-title{
  width: 80%;
  margin: auto;
  text-align: center;
}
.main-title img{
  margin-top: 50px;
  height: 200px;
}
.main-title h2{
  font-size: 35px;
}
.main-title p, .col-img p, .col-text p{
  margin: 30px 0;
}
.col{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px grey;
}
.big-col{
  width: 100%;
  padding: 50px 0;
  margin: 50px 0;
}
.col-img{
  width: 30%;
  text-align: center;
  margin-right: 5%;
}
.col-img img{
  height: 100px;
  width: 100%;
  margin: 15px 0;
}
.col-text{
  width: 67.5%;
}
.col-text h5, .col-text hr{
  display: inline-block;
}
.col-text h5{
  font-size: 20px;
}
.col-text hr {
  width: 60%;
  vertical-align: middle;
  margin-left: 100px;
  border: 1px solid #33475b;
}
.main-product h3{
  font-size: 28px;
}
.main-product .col-img:last-child, .main-product .col-img:first-child{
  margin: 0;
}
/* /main */
